<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Pão do Guri</h1>
    <form method="post" action="/">
        <label for="sabor">Escolha o sabor:</label>
        <select name="sabor" id="sabor">
            {% for sabor in sabores %}
                <option value="{{ sabor }}">{{ sabor }}</option>
            {% endfor %}
        </select>

        <br>

        <label for="quantidade">Quantidade:</label>
        <input type="text" name="quantidade" id="quantidade" required>

        <br>

        <div id="outros" style="display:none;">
            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" id="descricao">
            
            <br>

            <label for="valor">Valor:</label>
            <input type="text" name="valor" id="valor">
        </div>

        <br>

        <input type="submit" value="Registrar">
    </form>

    <script>
        document.getElementById('sabor').addEventListener('change', function() {
            var outrosDiv = document.getElementById('outros');
            outrosDiv.style.display = (this.value === 'Outros') ? 'block' : 'none';
        });
    </script>
</body>
</html>
